[packages]
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-bcrypt = "*"
flask-cors = "*"
faker = "*"
pillow = "*"
requests = "*"
gunicorn = "*"
pymongo = "*"
dnspython = "*"
mongoengine = "*"

[dev-packages]
